body {
    background-color: #F6F1F1;
}

.pizza {
    margin-top: 15px;
}

h1 {
    color: #19A7CE;
    font-family: monospace;
}

.icon {
    color: #19A7CE;;
}


#logo {
    color: #19A7CE;
    font-size: 1.75em;
    font-weight:bold;
    font-family: monospace;
    margin: 10px;
}

.nav-custom {
    background-color: #000000;
}

.btn-warning {
    background-color: #19A7CE;
    border-color: #19A7CE;
    color: #fff;
    
}

.btn-warning:hover {
    background-color: #146C94;
    border-color:#146C94;
    color: #fff;
    
}

.lbb {
    margin-top: 15px;
}


.alert-msg {
    background-color: #19A7CE;
    color: #fff;
}


footer {
    padding: 25px;
}

