{% extends 'header.html' %}

{% for message in get_flashed_messages() %}

<div class="alert alert-success alert-dismissible fade show alert-msg" role="alert">
	{{ message }}
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

{% endfor %}

{% block content %}
<div class="jumbotron">
	<div class="container">
		<h1>User Dashboard</h1>
		<p>We will back shorlty, just applying CPR</p>
		<a href="/" class="btn btn-outline-warning" role="button">Back to Home?</a>
	</div>
</div>
{% endblock %}