{% extends 'header.html' %}

{% block content %}

{% for message in get_flashed_messages() %}

<div class="alert alert-success alert-dismissible fade show alert-msg" role="alert">
	{{ message }}
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

{% endfor %}
    <div class="container">
		<h1>Update User</h1>
		<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
			<form action="/update/{{ name_to_update.id }}" method="POST">
				{{ form.hidden_tag() }}
				{{ form.email.label(class="form-label") }} {{ form.email(class="form-control", value=name_to_update.email) }}
				{{ form.name.label(class="form-label") }} {{ form.name(class="form-control", value=name_to_update.name) }}
				{{ form.fav_color.label(class="form-label") }} {{ form.fav_color(class="form-control", value=name_to_update.fav_color) }}
				{{ form.submit(class="btn btn-warning lbb") }} <a href="{{ url_for('delete', id=id, class='btn btn-danger') }}" class="btn btn-danger lbb"> Delete </a>
			</form>
		</div> 
	</div>
{% endblock %}